/**
* Файл style.css - файл стилей
*
* @author Дмитрий Щербаков <info@atomcms.ru>
*/

/* НАЧАЛО - Всплывающие элементы */
#container_all {position:absolute;top:0;left:0;width:100%;z-index:1;}

#ajax_overlay, #window_overlay {
	z-index:2000;
	display:none;
	background:#000;
	left:0;
	opacity:0.40;
	filter:alpha(opacity=40);
	position:fixed;
	top:0;
	width:100%;
	height:100%;
}

#ajax_overlay {z-index:90000;}

#ajax_waiter {
	z-index:100000;
	display:none;
	background:#fff;
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-50px;
	width:140px;
	height:143px;
	border:2px #aed0ea solid;
	border-radius:100px;
	padding:20px;
}

.window {
	z-index:2100;
	display:none;
	position:fixed;
	width:360px;
}

.window_layer {position:absolute;top:0;left:0;width:100%;z-index:2100;display:none;}
.window_layer_box {width:800px;margin:0 auto;background:#fff;}

#atom_confirm {width:400px;}
/* ОКОНЧАНИЕ - Всплывающие элементы */

/* НАЧАЛО - Различные элементы */
.light_bg {background:#d2d6de;}
.content-alerts {padding:20px 20px 0px 20px;}
.content-alerts .alert {display:none;}
.exception-page {width:600px;margin:20px auto 0 auto;}
/* ОКОНЧАНИЕ - Различные элементы */

/*
	`7MM"""YMM  `YMM'   `MP' .g8"""bgd `7MM"""YMM  `7MM"""Mq. MMP""MM""YMM `7MMF' .g8""8q. `7MN.   `7MF'
	  MM    `7    VMb.  ,P .dP'     `M   MM    `7    MM   `MM.P'   MM   `7   MM .dP'    `YM. MMN.    M
	  MM   d       `MM.M'  dM'       `   MM   d      MM   ,M9      MM        MM dM'      `MM M YMb   M
	  MMmmMM         MMb   MM            MMmmMM      MMmmdM9       MM        MM MM        MM M  `MN. M
	  MM   Y  ,    ,M'`Mb. MM.           MM   Y  ,   MM            MM        MM MM.      ,MP M   `MM.M
	  MM     ,M   ,P   `MM.`Mb.     ,'   MM     ,M   MM            MM        MM `Mb.    ,dP' M     YMM
	.JMMmmmmMMM .MM:.  .:MMa.`"bmmmd'  .JMMmmmmMMM .JMML.        .JMML.    .JMML. `"bmmd"' .JML.    YM
*/

.exception-page {width:700px;margin:40px auto 0 auto;}
@media (max-width:991px) {.exception-page {width:100%;}}
.exception-page > .headline {float:left;font-size:70px;font-weight:300;}
@media (max-width:991px) {.exception-page > .headline {float:none;text-align:center;}}
.exception-page > .exception-content {margin-left:300px;display:block;padding-top:1px;}
@media (max-width:991px) {.exception-page > .exception-content {margin-left:0;}}
.exception-page > .exception-content > h3 {font-weight:300;font-size:25px;}
@media (max-width:991px) {.exception-page > .exception-content > h3 {text-align:center;}}