/**
* Файл style.css - файл стилей
*
* @author Дмитрий Щербаков <info@atomcms.ru>
*/

/* НАЧАЛО - Главные элементы */
#container_all {position:absolute;top:0;left:0;width:100%;z-index:1;}

#ajax_overlay, #window_overlay {
	z-index:2000;
	display:none;
	background:#000;
	left:0;
	opacity:0.40;
	filter:alpha(opacity=40);
	position:fixed;
	top:0;
	width:100%;
	height:100%;
}

#ajax_overlay {z-index:90000;}

#ajax_waiter {
	z-index:100000;
	display:none;
	background:#fff;
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-50px;
	width:140px;
	height:143px;
	border:2px #aed0ea solid;
	border-radius:100px;
	padding:20px;
}

.window {
	z-index:2100;
	display:none;
	position:fixed;
	width:360px;
}

.window_layer {position:absolute;top:0;left:0;width:100%;z-index:2100;display:none;}
.window_layer_box {width:800px;margin:0 auto;background:#fff;}

#atom_confirm {width:400px;}
/* ОКОНЧАНИЕ - Главные элементы */

.light_bg {background:#d2d6de;}
.content-alerts {padding:20px 20px 0px 20px;}
.content-alerts .alert {display:none;}

/* =============================================================== */
/* ========== ПЕРЕОПРЕДЕЛЕНИЕ СТИЛЕЙ ============================= */
/* =============================================================== */
.login-page {padding:1px 0px;}
label {font-weight:400;}
.error-page>.error-content {padding-top:30px;}
.main-header .navbar-custom-menu {margin-right:0px;}
.main-header .navbar-custom-menu>.nav {margin-right:0px !important;}
.main-header .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {right:10px;}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header .fa-user {color:#fff;font-size:110px;}